[Unit]
Description=TON miner
After=network.target

[Service]
RestartSec=5
Restart=always
WorkingDirectory=/opt/ton-miner
ExecStart=/run_miner.sh 1 1

[Install]
WantedBy=multi-user.target
Alias=miner_gpu0.service
